.vscode/
myenv/
data/raw/
/data/*/
lightning_logs/
*.pyc
*.pt
.ignore/
*.yaml
!config.yaml
kge.log
*.ipynb
config/text_encoder/
search/
notebooks/
fig/
*.out
libkge/
logs/
*.out
trial_*/
trials.csv
*.ckpt
*.code-workspace
metrics.csv
*.png
kge_search/
kge_model/
search/
job_metrics.tsv
notebooks/
*_old/
run.sh
*.out
