.vscode/
myenv/
*.code-workspace
lightning_logs/
/data/*/
*.pyc
*.pt
*.ckpt
.ignore/
*.yaml
!config.yaml
kge.log
search/
notebooks/
*.ipynb
fig/
*.png
*.out
libkge/
trial_*/
job_metrics.tsv
trials.csv